.home-page {
  font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
  color: #306da9;
  font-size: 2rem;
  margin-bottom: 0;
  text-align: left;
}
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }

  pre {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
  }
