  .home-page {
    font-family: 'IBM Plex Sans', sans-serif;
  }

  body{
    background: #2e3b55 !important;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }

  pre {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
  }

.erased-card {
    margin-left: auto; /* Push the button to the right */
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #757575;
    cursor: pointer;
}

.erased-card:hover {
    color: #ff0000; /* Optional: Change color on hover */
}


.DragHere {
    width: 100%;
    text-align: center;
}
